* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

button {
  border: none;
  outline: none;
}

input,
textarea {
  outline: none;
}

.page {
  &--active {
    overflow: hidden;
  }
}
